$bgColor: #f8f8f8;
$text: #1b1c21;
$accentColor: #41f6d7;
$primaryColor: #ff3e79;
$activeTextColor: #7e7e82;

@import '~normalize.css';
@import url(./fonts.scss);
@import url(./animations.scss);

@media screen and (max-width: 320px) {
  @import url(./320.scss);
}
@media screen and (max-width: 768px) {
  @import url(./768.scss);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'TT Lakes', sans-serif;
  background-color: $bgColor;
  color: $text;
  min-height: 100vh;
  min-height: 100dvh;
  font-size: 16px;
  line-height: 150%;
  position: relative;

  &.modalopened {
    max-height: 100vh;
    max-height: 100dvh;
    overflow: hidden;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h3 {
  font-weight: 400;
}

.quick-access-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $primaryColor;

  &:hover > img {
    animation: 0.5s forwards linear shaky;
  }
}

.content__header__button:hover img {
  animation: 0.5s forwards linear shaky;
}

.nav-menu {
  position: fixed;
  padding: 30px 30px 5px 24px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 305px;
  height: 100%;
  background-color: #fff;
}

.nav-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu__list {
  margin-top: 40px;
}

.nav-menu__list-item {
  font-size: 1em;
  line-height: 150%;
  letter-spacing: -0.2px;

  & > a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-weight: 500;
  }

  &.active > a {
    color: $activeTextColor;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      height: 135%;
      width: 4px;
      left: -20px;
      top: -5px;
      background-color: $accentColor;
      border-radius: 2px;
    }
  }
}

.nav-menu__list-item + .nav-menu__list-item {
  padding-top: 28px;
}
.contacts > a {
  display: block;
  text-decoration: none;
  color: inherit;

  &:last-child {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 13px;
  }
}

.nav-menu__footer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: auto;
  padding-bottom: 5px;
}

.contact-quick-access {
  display: flex;
  gap: 16px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.language-list > li {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  padding-right: 7px;
  font-weight: 500;
}

.language-list > li.active {
  font-weight: 400;
  color: $activeTextColor;
}

// Main

.content {
  padding: 40px 28px 20px 34px;
  min-height: 100vh;
  min-height: 100dvh;
  width: calc(100% - 305px);
  margin-left: auto;
  background-color: $bgColor;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__header__title {
  font-weight: bold;
  font-size: 1.75em;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    background-color: $accentColor;
    width: 3px;
    border-radius: 2px;
    height: 100%;
    left: -34px;
  }
}
.content__header__buttons {
  display: flex;
  gap: 32px;
}
.content__header__button {
  display: block;
  & > a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    color: inherit;
    text-decoration: none;
  }
}

.content__nav-menu {
  margin-top: 25px;
  display: flex;
  gap: 20px 5px;
  flex-wrap: wrap;
  letter-spacing: -0.2px;
  & > .nav-menu-btn {
    font-size: 1em;
    line-height: 1.5;
    color: $activeTextColor;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 8px 22px;
    &.active {
      background-color: #fff;
      border-radius: 6px;
      border: 2px solid #b8ffec;
      padding: 6px 20px;
    }
  }
}

.text__wrapper {
  min-height: 310px;
  margin-top: 20px;
  & > img {
    height: 310px;
    float: right;
    padding-left: 36px;
  }
}

.expand-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  padding: 0;
  margin-top: 13px;
  font-weight: 500;
  background-color: transparent;

  &.expanded:hover > img {
    animation: 0.5s forwards linear shaky180rotated;
  }

  &:not(.expanded):hover > img {
    animation: 0.5s forwards linear shaky;
  }

  &.expanded {
    & > img {
      transform: rotate(180deg);
      transition: 1s;
    }
  }
}

#readnext-p_1 {
  transition: max-height 1s ease;
  max-height: 0;
  overflow: hidden;
  &.expanded {
    max-height: 75px;
  }
}

.content > section {
  margin-top: 50px;

  & > h3 {
    box-sizing: content-box;
    padding: 16px 28px 16px 34px;
    margin-left: -34px;
    font-size: 1em;
    width: 100%;
    text-transform: uppercase;
    color: $activeTextColor;
    background: linear-gradient(90deg, #f8f8f8 45%, #fff 98%);
    border-top: 1px solid #d9fff5;
  }
}

.brand__list,
.repair__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 16px;
  column-gap: 32px;
  //
  margin-top: 24px;
  max-height: 160px;
  overflow: hidden;
  transition: max-height 1s ease;
  &.expanded {
    max-height: 394px;
  }
}

.brand__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  width: 100%;
  min-width: 240px;
  height: 72px;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.brand__card,
.repair__card {
  a {
    line-height: 0;
    width: fit-content;
  }
  .dropdown {
    padding: 13px 15px;
    border: 1px solid $primaryColor;
    border-radius: 50%;
  }
}

.repair__list {
  max-height: 160px;

  &.expanded {
    max-height: 376px;
  }
}

.repair__card {
  box-sizing: border-box;
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  padding: 16px;
  border: 1px solid #eaeaea;

  a {
    align-self: flex-end;
  }
}

.price__table {
  border-collapse: separate;
  border-spacing: 0 2px;
  width: 100%;
  text-align: left;
  font-size: 0.875em;

  // border-radius
  & > tbody > tr:first-child > th {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
  & > tbody > tr:last-child > th {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  & > thead * {
    font-weight: 500;
    line-height: 1em;
    color: $activeTextColor;
    opacity: 0.7218;
    line-height: 115%;
  }

  & > tbody {
    background-color: #fff;

    * {
      font-weight: normal;
      line-height: 130%;
    }
  }

  th {
    padding: 24px;
  }

  button {
    text-transform: uppercase;
    color: #fff;
    background-color: $primaryColor;
    border: none;
    outline: none;
    padding: 4px 12px;
    border-radius: 1em;
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: -0.2px;
    margin-left: auto;
    img {
      width: 10px;
      height: 10px;
    }
  }
}

.table__info {
  width: 420px;
  font-size: 0.875em;
  line-height: 140%;
  margin-top: 32px;
}

.table__offer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 16px;
  font-weight: 500;
  text-decoration: none;
  color: $text;
}

// Modals

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background: rgba($color: #fff, $alpha: 0.9605);
  z-index: 9999;
  display: none;

  form {
    background: #fff;
    width: 440px;
    padding: 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-left: 1px solid #d9fff5;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2),
      -2px 0px 4px 0px rgba(69, 79, 126, 0.02);
    h3 {
      margin: 8px 0;
      font-size: 1.5em;
      font-weight: bold;
      position: relative;
      &::before {
        position: absolute;
        content: '';
        top: -7px;
        left: -33px;
        width: 3px;
        height: 120%;
        background-color: $accentColor;
      }
    }

    a {
      color: $primaryColor;
      text-decoration: none;
    }
  }

  &.active {
    display: flex;
    justify-content: flex-end;
  }
}

.modal__btn {
  color: #fff;
  background-color: $primaryColor;
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  align-items: center;
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 16px;
  width: fit-content;
  align-self: flex-end;
  cursor: pointer;
}

.modal__input,
.modal textarea {
  padding: 12px 16px;
  border-radius: 8px;
  border: 1px solid #eaeaea;

  &:focus {
    border-color: $primaryColor;
    outline: none;
  }
}
.modal textarea {
  resize: vertical;
  min-height: 45px;
  height: 120px;
}

.modal__close-btn {
  width: fit-content;
  height: fit-content;
  line-height: 0;
  padding: 11px;
  background-color: $primaryColor;
  border: none;
  border-radius: 50%;
  margin: 32px;
  cursor: pointer;
  img {
    width: 18px;
    height: 18px;
  }
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 500;
  font-size: 0.875em;
  color: $activeTextColor;
  margin-top: 80px;
  & > div {
    max-width: 300px;
  }
}
